<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Position x:</strong>
  <%= @spot.position_x %>
</p>

<p>
  <strong>Position y:</strong>
  <%= @spot.position_y %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
